*{
  box-sizing: border-box;
  /*Declare Color Variables*/
  --color1: orange;
  --color2: white;
  /*--color2: rgb(187, 187, 187);*/
 
}

body{
  background: white;
  color:black;
  line-height:1.6;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding:0.5em;
}

.container{
  max-width:100%;
  margin-left:auto;
  margin-right:auto;
  padding:0.9em;
}
.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

.topnav li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 6px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: orange;
}

.brand{
  text-align: center;
  padding-top: 0%;
}

.brand span{
  color: var(--color1);
}

.wrapper{
  border-radius: 15px;
  border: 2px solid gray;
  padding: 15px; 
  width: 100%;
  /* To move H1 up*/
  /*padding-top: 0%;*/
  
}

.wrapper > *{
  
}

.company-info{
  background: white;
}

.company-info h3, .company-info ul{
  text-align: left;
  margin:0 0 1rem 0;
}

.contact{
  background:white;
  margin:0;
}

.hh{
  text-align: left;
  margin: 0px;
  padding: 0em;
}

h1{
  line-height:1;
  padding: 0em;
  margin: 5px;
  font-size: 1.53em;
  padding-left: 0%;
  padding-right: 0%;

}

/* LARGE SCREENS */
@media(min-width:700px){
  .wrapper{
    /*display: grid;
    grid-template-columns: 0.5fr 2fr;*/
  }

  .wrapper > *{
   
  }

  .company-info h3, .company-info ul, .brand{
    text-align: left;
    
 
  }

  h1{
    font-size: 2em;   
  }
}